{% extends 'index.html.twig' %}

{% block title %}Lista pracowników
{% endblock %}

{% block content %}
	 <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	 <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
		<div class="row"> <div class="col-12">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
					<div class="me-auto">
						<span></span>
					</div>

					<span class="navbar-brand mb-0 h1">
					</span>
					<div class="ms-auto">
					</div>
				</div>
			</nav>
		</div>
	</div>
{% endblock %}
