{% extends 'main.html.twig' %}

{% block title %}Strona główna
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-9 col-lg-12">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-light ">
						<div class="container-fluid">
							<div class="me-auto">
								<h3>Podsumowanie</h3>
							</div>
							<span class="navbar-brand mb-0 h1"></span>
							<div class="ms-auto">
								<btn class="btn btn-success">Eksportuj dane</btn>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center ">
					<div class="col-lg-9 col-sm-12 dashboard-statistics-box">
						<div class="ps-3 pe-3 pt-3 ">Wszystkich pracowników</div>
						<div class="text-bold text-left ps-3 pe-3 mt-3">
							<h2>1 452</h2>
						</div>
						<div class="dashboard-box-footer align-text-bottom p-3 pt-4" style="">15 nowych pracowników w ciągu ostatnich 30 dni</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center ">
					<div class="col-lg-9 col-sm-12 dashboard-statistics-box">
						<div class="ps-3 pe-3 pt-3 ">Mauris a fringilla eros</div>
						<div class="text-bold text-left ps-3 pe-3 mt-3">
							<h2>1 452</h2>
						</div>
						<div class="dashboard-box-footer align-text-bottom p-3 pt-4" style="">Duis tincidunt et mi quis posuere. Vestibulum convallis scelerisque</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center ">
					<div class="col-lg-9 col-sm-12 dashboard-statistics-box">
						<div class="ps-3 pe-3 pt-3 ">Donec id laoreet est</div>
						<div class="text-bold text-left ps-3 pe-3 mt-3">
							<h2>1 452</h2>
						</div>
						<div class="dashboard-box-footer align-text-bottom p-3 pt-4" style="">Ut mollis gravida nibh a placerat</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-12">
			<h3>Nowi pracownicy</h3>
		</div>
	</row>
{% endblock %}
