{% extends 'base.html.twig' %}

{% block title %}Formularz użytkownika{% endblock %}

{% block body %}
    <h2>Formularz użytkownika</h2>

    {{ form_start(form) }}
        <button type="submit">Zapisz</button>
    {{ form_end(form) }}

{% endblock %}
