{% extends 'index.html.twig' %}

{% block title %}Formularz użytkownika
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<div class="sidebar d-flex flex-column flex-shrink-0 p-3 ps-0" style="min-height: 100vh; background-color: #f9f9f9;">
					<div class="text-center">
						<img src="{{ asset('images/logo2.png')}}" width="175px" height="75px">
					</div>
					<hr>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item">
							<a href="{{ path('app_homecontroller') }}" class="nav-link active" aria-current="page">
								<i class="fa-solid fa-gear"></i>
								Strona główna
							</a>
						</li>
						<li>
							<a href="{{ path('app_employee_index') }}" class="nav-link link-dark">
								<i class="fa-solid fa-gear"></i>
								Pracownicy
							</a>
						</li>
						<li>
							<a href="#" class="nav-link link-dark">
								<i class="fa-solid fa-gear"></i>
								Zadania
							</a>
						</li>
						<li>
							<a href="#" class="nav-link link-dark">
								<i class="fa-solid fa-gear"></i>
								Dokumenty
							</a>
						</li>
						<li>
							<a href="#" class="nav-link link-dark">
								<i class="fa-solid fa-gear"></i>
								Konto
							</a>
						</li>
						<li>
							<a href="#" class="nav-link link-dark">
								<i class="fa-solid fa-gear"></i>
								Ustawienia
							</a>
						</li>
					</ul>
					<hr>
				</div>

			</div>
			<div class="col-10">
				{% block content %}{% endblock %}
			</div>
		</div>

	</div>
{% endblock %}
